@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            @Html.HiddenFor(model => model.IdentityUserId)
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyPickUp" class="control-label"></label>
                <select asp-for="WeeklyPickUp" class="form-control" asp-items='new SelectList(Model.PickupDays, "PickupDayId", "DayName")'></select>
                <span asp-validation-for="WeeklyPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartHold" class="control-label"></label>
                <input asp-for="StartHold" class="form-control" />
                <span asp-validation-for="StartHold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndHold" class="control-label"></label>
                <input asp-for="EndHold" class="form-control" />
                <span asp-validation-for="EndHold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPickupDay" class="control-label"></label>
                <input asp-for="ExtraPickupDay" class="form-control" />
                <span asp-validation-for="ExtraPickupDay" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.Balance)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
